{% include "layouts/main.html" %}


	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				
				<div class="col-sm-12">
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
							<form action={{app.url_generator.generate('userSignup') }} method="post" novalidate>


							{{ form_label(form.username) }}
							{{ form_widget(form.username) }}
  							<div style="color: red;">	
  								{{ form_errors(form.username) }}

							</div>
							{{ form_label(form.password.first) }}
							{{ form_widget(form.password.first) }}
							<div style="color: red;">	
								{{ form_errors(form.password.first) }}
							</div>
							{{ form_label(form.password.second) }}
							{{ form_widget(form.password.second) }}
							<div style="color: red;">	
								{{ form_errors(form.password.second) }}
							</div>
							{{ form_label(form.email) }}
							{{ form_widget(form.email) }}
							<div style="color: red;">	
								{{ form_errors(form.email) }}
							</div>

							{{ form_row(form._token) }}	
							{{ form_widget(form.signup) }}
						</form>
					</div><!--/sign up form-->
				
			</div>
		</div>
	</section><!--/form-->

{% include "layouts/footer.html" %}
